extends layout

block content
  title Abraham Lincoln
  h3 Abraham Lincoln
  p Abraham Lincoln was born Feb 12, 1809, in a single-room log cabin, Hardin County, Kentucky. His family upbringing was modest;
    as a lawyer, Abraham developed a capacity for quick thinking and oratory. His interest in public issues encouraged him to stand for public office. In 1847, he was elected to the House of Representatives for Illinois and served from 1847-49. During his period in Congress, Lincoln criticised President Folk’s handling of the American-Mexican War, arguing Polk used patriotism and military glory to defend the unjust action of taking Mexican territory. However, Lincoln’s stance was politically unpopular and he was not re-elected.