extends layout

block content
  title Bill Gates
  h3 Bill Gates
  p William Henry Gates was born on 28 October 1955, in Seattle, Washington. As the principal founder of Microsoft, Bill Gates is one of the most influential and richest people on the planet. Recent estimates of his wealth put it at US$84.2 billion (Jan. 2017); this is the equivalent of the combined GDP of several African economies. In recent years he has retired from working full time at Microsoft, and has instead concentrated on working with his charitable foundation “The Bill and Melinda Gates Foundation.”