extends layout

block content
  title Marilyn Monroe
  h3 Marilyn Monroe
  p Monroe was born, Norma Jeane Mortenson, in June 1926. Her mother was Gladys Pearl Baker (née Monroe, 1902–84) Her father was unknown and she was baptised as Norma Jeane Baker. Her mother Gladys had a turbulent mental state and struggled to cope with bringing up her children. For the first six years, Marilyn was brought up by foster parents, Albert and Ida Bolender in the town of Hawthorne, California. Her mother then tried to take back Marilyn, but she suffered a mental breakdown and Marilyn was moved between different orphanages and foster homes. The traumatic childhood made her shy and reserved.